<div class="jumbotron">
    <h1>Transaction Data</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Upload transaction data</h2>
        <p>
            Upload transaction data from CSV or XML file.
        </p>
        <input class="btn btn-default" type="button" value="Upload Transaction" onclick="location.href='@Url.Action("UploadTransactionData", "Transaction")'" />
    </div>
    <div class="col-md-4">
        <h2>Get transaction data</h2>
        <p>
            Get transactions by currency, status and transaction date.
        </p>
        <input class="btn btn-default" type="button" value="Get Transaction" onclick="location.href='@Url.Action("GetTransactionList", "Transaction")'" />
    </div>
</div>
